@model GestionDeAulas.Models.ViewModels.Reserves.ReserveCreateVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Buscar Horarios Disponibles";
}
<Section class="flex min-h-dvh w-full flex-col items-center">
    <h2 class="w-full bg-gray-900 p-4 text-center text-6xl font-bold text-gray-50">Buscar Horarios Disponibles</h2>
    <form class="flex h-full w-2/3 flex-col items-center justify-center rounded-md py-4"  asp-action="Seeker" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Date"></label>
            <input asp-for="Date" type="date" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="Date" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" type="date" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="EndDate" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Students"></label>
            <input type="number" asp-for="Students" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="Students" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="Hour"></label>
            <input asp-for="Hour" type="number" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="Hour" class="text-red-600"></span>
        </div>
        <div class="flex w-2/3 flex-col self-center">
            <label asp-for="TotalHours"></label>
            <input type="number" asp-for="TotalHours" class="border-2 mx-1 rounded-md border-gray-900 p-1" />
            <span asp-validation-for="TotalHours" class="text-red-600"></span>
        </div>

        <div class="flex w-2/3 justify-between">
            <button type="submit" class="mt-4 w-48 rounded-md border border-transparent bg-gradient-to-tr from-blue-800 to-blue-700 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-slate-700 focus:bg-slate-700 focus:shadow-none active:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                <i class="fa fa-search" aria-hidden="true"></i>  Ver Disponibilidad
            </button>
            <a asp-action="Index" asp-controller="ClassRoom" class="mt-4 w-48 rounded-md border border-transparent bg-gradient-to-tr from-green-800 to-green-700 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-slate-700 focus:bg-slate-700 focus:shadow-none active:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                Volver
            </a>

        </div>


    </form>
    <h2 class="w-full bg-gray-900 p-4 text-center text-6xl font-bold text-gray-50">Crear Reserva</h2>
    <script>
        $(document).ready(function () {
            $('#availableRooms').DataTable();
        });
    </script>

    @{
    if (Model != null && Model.Rooms != null &&  Model.Rooms.Count() > 0 && Model.ClassesList != null &&Model.UsersList != null && Model.ClassesList.Count()>0 && Model.UsersList.Count()>0)
    {
        <table id="availableRooms" class="display w-full min-w-max table-auto text-left">
            <thead>
                <tr>
                    <th class="border-b border-slate-500 bg-slate-800 p-4 transition-colors hover:bg-slate-900">
                        <p class="flex items-center justify-between gap-2 text-sm font-normal leading-none text-slate-50">
                            Numero de Aula
                        </p>
                    </th>

                    <th class="border-b border-slate-500 bg-slate-800 p-4 transition-colors hover:bg-slate-900">
                        <p class="flex items-center justify-between gap-2 text-sm font-normal leading-none text-slate-50">
                            Capacidad

                        </p>
                    </th>
                    <th class="border-b border-slate-500 bg-slate-800 p-4 transition-colors hover:bg-slate-900">
                        <p class="flex items-center justify-between gap-2 text-sm font-normal leading-none text-slate-50">
                            Responsable
                        </p>
                    </th>
                    <th class="border-b border-slate-500 bg-slate-800 p-4 transition-colors hover:bg-slate-900">
                        <p class="flex items-center justify-between gap-2 text-sm font-normal leading-none text-slate-50">
                            Materia
                        </p>
                    </th>
                    
                    <th class="border-b border-slate-500 bg-slate-800 p-4 transition-colors hover:bg-slate-900">
                        <p class="flex items-center justify-between gap-2 text-sm font-normal leading-none text-slate-50">
                            Acciones
                        </p>
                    </th>
                </tr>
            </thead>
          
            @{  
            if (Model != null && Model.Rooms != null ){
                foreach(var room in Model.Rooms){
                        <tbody>
                        <form asp-controller="Reserve" asp-action="Create">
                            <input type="hidden" asp-for="Date" />
                            <input type="hidden" asp-for="EndDate" />
                            <input type="hidden" asp-for="Students" />
                            <input type="hidden" asp-for="Hour" />
                            <input type="hidden" asp-for="TotalHours" />
                            <input type="hidden" name="RoomId" value="@room.Id"/>
                        <tr class="hover:bg-slate-50">
                        <td class="border-b border-slate-200 p-4">
                        <p class="block text-sm text-slate-800">
                            @room.Id
                        </p>
                    </td>
                    <td class="border-b border-slate-200 p-4">
                        <p class="block text-sm text-slate-800">
                            @room.Seats
                        </p>
                    </td>
                    <td class="border-b border-slate-200 p-4">
                                        <select asp-for="UserId" class="border-2 mx-1 rounded-md border-gray-900 p-1">
                                                @{
                                                    foreach(var teach in Model.UsersList)
                                                    {
                                                        <option id="@teach.Id" value="@teach.Id">@(teach.Name )</option>

                                                    }
                                                }
                        </select>
                    </td>
                    <td class="border-b border-slate-200 p-4">
                                        <select asp-for="ClassId" class="border-2 mx-1 rounded-md border-gray-900 p-1">
                                                @{
                                                    foreach (var classData in Model.ClassesList)
                                                    {
                                                    <option value="@classData.Id" id="@classData.Id">@(classData.Name)</option>

                                                    }
                                                }
                        </select>
                    </td>
                    
                    <td class="flex justify-end border-b border-slate-200 p-4">
                        <button type="submit" class="ml-2 rounded-md border border-transparent bg-blue-600 px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg hover:bg-blue-700 focus:bg-blue-700 focus:shadow-none active:bg-blue-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Reservar
                        </button>
                    </td>
    
                        </tr>
                                </form>
                        </tbody>
                    }
           }         
                
        }   
        </table>
        
    }else {<span class="w-full text-center font-bold text-red-600">No hay Salones Disponibles</span>}

    }
    
</Section>